    body {
        position: relative;
        max-width: 21cm;
        height: 29.7cm;
        background: #FFFFFF;
        font-family: "Times New Roman", serif;
        font-size: 12px;
    }

    h1 {
        color: black;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
        font-size: 15.5pt;
    }

    h3 {
        color: black;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10.5pt;
    }

    h4 {
        color: black;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 8.5pt;
    }

    p {
        color: black;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
        margin: 0pt;
    }

    .main-p {
        margin: 0;
        padding-top: -20px;
        text-align: justify;
        padding-left: 5pt;
    }

    .p2 {
        padding-left: 5pt;
        margin-top: 10px;
        text-indent: 0pt;
        text-align: left;
    }

    .p3 {
        color: black;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        text-align:right;
        font-size: 9pt;
    }

    .p-table {
        padding-top: 3pt;
        padding-left: 3pt;
        text-indent: 0pt;
        text-align: left;
    }


    h2 {
        color: black;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    .required {
        margin-bottom: 0pt;
        margin-left: 5pt;
    }

    .p4-1 {
        font-style: italic;
        font-weight: bold;
        font-size: 8pt;
        padding-top: 10px;
        padding-left: 110pt;
        padding-right: 1.5pt;
        text-indent: -127pt;
        line-height: 81%;
        text-align: center;
    }

    .p4-2 {
        color: black;
        font-style: italic;
        font-weight: bold;
        font-size: 8pt;
        padding-top: 0px;
        padding-left: 25%;
        text-indent: -127pt;
        line-height: 81%;
        text-align: center;
    }

    .p5 {
        padding-top: 15pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
    }

    .p6 {
        padding-top: 15pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
    }

    table,
    tbody {
        border-collapse: collapse;
        margin-left: 6.266pt;
        vertical-align: top;
        overflow: visible;
    }

    table,
    tr {
        height: 21pt;
    }

    .td1 {
        width: 30pt;
        border-top-style: solid;
        border-top-width: 1pt;
        border-left-style: solid;
        border-left-width: 1pt;
        border-bottom-style: solid;
        border-bottom-width: 1pt;
        border-right-style: solid;
        border-right-width: 1pt;
    }

    .td2 {
        width: 497pt;
        border-top-style: solid;
        border-top-width: 1pt;
        border-left-style: solid;
        border-left-width: 1pt;
        border-bottom-style: solid;
        border-bottom-width: 1pt;
        border-right-style: solid;
        border-right-width: 1pt;
    }

    .f1 {
        border-top: 2px solid;
        font-size: 11.5;
        font-weight: bolder;
    }

    .f2 {
        padding-top: 20px;
    }

    .f2 p {
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }

    .f3 {
        text-align: center;
    }

    .ft {
        width: 100%;
        border: 1px solid;
    }

    table.ft {
        border: none;
        border-spacing: 10px;
    }

    td.ft1 {
        position: absolute;
        height: 200px;
        width: 50%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        vertical-align: bottom;
    }

    td.ft2 {
        height: 200px;
        text-align: center;
        vertical-align: bottom;
        font-size: 11.5pt;
    }

    table.finger-prints {
        empty-cells: show;
        border-collapse: separate;
        border-spacing: 10px;
        padding-bottom: 5pt;
    }

    table.finger-prints td {
        border: solid;
        height: 100px;
        width: 150px;
    }


    #header h1 {
        text-align: center;
        color: black;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
        font-size: 15.5pt;
        margin-bottom: 20pt;
    }

    #header h2 {
        text-align: center;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 8.80pt;
        contain-intrinsic-block-size: 100px ;
    }

    #header p {
        text-align: right;
        font-size: 12;
    }
